body {
	background-color: #0a080d;
	background-image: url('assets/page-bg.jpg');
	background-repeat: no-repeat;
	color: #37649b;
	font-family: 'Palatino', 'arial', 'sans-serif';
}

h1 {
	font-size: 3em;
	margin:50px 0 0 75px;
	opacity:0.2;
}