body {
	background-color: #0a080d;
	color: #37649b;
	font-family: 'Palatino', 'arial', 'sans-serif';
}

#gameIntro {
	background-image: url('assets/page-bg.jpg');
	background-repeat: no-repeat;
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-transition: 0.5s;
	   -moz-transition: 0.5s;
	    -ms-transition: 0.5s;
	     -o-transition: 0.5s;
		    transition: 0.5s;
}

	.btn {
		border: 1px solid #37649b;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-family: 'helvetica', 'arial', 'sans-serif';
		font-size: 0.9em;
		padding:4px 10px;
		text-transform: uppercase;
	}
	.btn-start {
		position: absolute;
		top:280px;
		left:280px;
	}
	.progress {
		border: 1px solid #37649b;
		color:#fff;
		display: none;
		font-size: 0.8em;
		position: absolute;
		top:280px;
		left:210px;
		width:200px;
		height: 24px;
	}
		.progress-bar {
			background-color: #37649b;
			position: absolute;
			top: 0;
			width: 0;
			height: 24px;
			-webkit-transition: 0.1s;
		       -moz-transition: 0.1s;
		        -ms-transition: 0.1s;
		         -o-transition: 0.1s;
			        transition: 0.1s;
		}
		.loading-text {
			position: absolute;
			top: 0;
			width: 200px;
			height: 24px;
			padding-top: 4px;
			text-align: center;
		}

.faded {
	opacity: 0;
}

h1 {
	font-size: 3em;
	position: absolute;
	opacity:0.3;
	top:40px;
	left:75px;
}

#game {
	background-color: #333;
	position: absolute;
	top:150px;
	left:75px;
}

#fight {
	color: #fff;
	font-size: 1.4em;
	font-weight: bold;
	position: absolute;
	top:200px;
	left:100px;
	height:40px;
	width: 80px;
}
	.damage, .hit {
		background-color: rgba(0,0,0,0.7);
		border-radius: 4px;
		padding: 5px;
		text-shadow:1px 1px #fff;
		opacity: 0;
		-webkit-transition: 0.3s;
		   -moz-transition: 0.3s;
		    -ms-transition: 0.3s;
		     -o-transition: 0.3s;
			    transition: 0.3s;
	}
	.damage {
		background-color: rgba(194,5,26,0.7);
		float: right;
		/*color: red;*/
	}
	.hit {
		background-color: rgba(5,180,5,0.7);
		float: left;
		/*color: green;*/
	}

	.dealing .hit {
		opacity: 1;
		-webkit-transform:translate3d(-20px, -30px, 0);
	}
	.taking .damage {
		opacity: 1;
		-webkit-transform:translate3d(20px, 30px, 0);
	}

#battleLog {
	position : absolute;
	top : 170px;
	left : 450px;
	height: 330px;
	width: 200px;
	overflow-y: scroll;
	font-size: 10px;
}

#battleLog .poor {
	color : gray;
}

#battleLog .normal {
	color : white;
}

#battleLog .rare {
	color : green;
}

#battleLog .epic {
	color : yellow;
}

#battleLog .legendary {
	color : orange;
}
#healthBarBox {
	position : absolute;
	top : 150px;
	left : 450px;
	height: 15px;
	width: 200px;
	font-size: 10px;
	background-color : rgba(255,255,255,0.5);
	text-align: center;
	border-radius: 3px;
}
#healthBar {
	position: relative;
	height: 15px;
	width: 200px;
	font-size: 12px;
	background-color : red;
	text-align: center;
	line-height : 20px;
	z-index: 999;
	border-radius: 3px;
}
#stay {
	position : absolute;
	top : 0px;
	left : 0px;
	height: 15px;
	width: 200px;
	line-height : 15px;
	z-index: 1000;
	text-align: center;
	color: black;
	font-weight: bold;
}

#battleLog .restart {
	position : absolute;
	left : 55px;
}
.hidden {
	display: none;
}